* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    
    background:
       
        url("images/image4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Navbar */
.navbar {
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}



/* Dashboard Layout */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
}

/* Cards */
.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    animation: fadeIn 0.6s ease;
}

.card h3 {
    margin-bottom: 20px;
}

/* Inputs */
select, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: #fff;
}

textarea {
    height: 120px;
    resize: none;
}

select option {
    color: #000;
}

/* Buttons */
.primary-btn {
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    transition: transform 0.3s ease;
}

.primary-btn:hover {
    transform: scale(1.05);
}

/* Empty Chat */
.empty-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.empty-chat span {
    font-size: 13px;
    margin-top: 8px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}
